{{#each menus}}


<div class="col-md-12 item {{#if @first}}active{{/if}} " data-id="{{id}}">

    <img style="display:none" src="reportMemo.do?method=getImage&reportMemoId={{id}}&ds={{getCurrentTime}}">


    <div class="col-md-8 col-xs-8">
        <div class="center-block img" data-indicator="{{indicator}}" data-id="{{id}}" data-menuId="{{keyValue}}" style="height:940px;background-size: contain;background-image:url('reportMemo.do?method=getImage&reportMemoId={{id}}&ds={{getCurrentTime}}');background-repeat:no-repeat;background-position:top center">

        
        </div>
        <div class="center-block" align="center">* 点击图片查看更多信息</div>
        
    </div>


    <div class="col-md-4 col-xs-4 column memo">







        <div id="memoBy" class="memo2 memoby" style="height:42px"><span style="font-size: 15px">{{memoBy}}<br>{{keyDate}}</span>
        </div>


        <div class="tab-pane active" id="reportMemo{{id}}">
            <pre id="reportMemo" class="memo2" style="font-size: 15px;bottom:-10px">{{memo}}</pre>






        </div>


        <div class="btn-group dropup postscript-files-list">

            {{#if postscripts.length}}



            <button type="button" class="btn"><a href="reportMemo.do?method=getPostscript&id={{postscripts.0.id}}">{{postscripts.0.fileName}}</a>
            </button>


            {{#if postscripts.1.id}}
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">更多附件
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {{#each postscripts}} {{#unless @first}}
                <li><a href="reportMemo.do?method=getPostscript&id={{id}}">{{fileName}}</a> </li>
                {{/unless}} {{/each}}
            </ul>
            {{/if}} {{/if}}
        </div>







    </div>

</div>
{{/each}}
